@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.navbar {
  padding: 1rem;
}

.navbar-nav li {
  padding-right: 1.2rem;
}

.nav-link {
  font-size: 1.1em !important;
}

.padding {
  padding-bottom: 2rem;
}

.about {
  padding-top: 2rem;
  width: 75%;
  margin: 0 auto;
}

.about hr {
  border-top: 2px solid #b4b4b4;
  width: 90%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-camera, .fa-microphone ,.fa-question {
  color:#FF005D;
  font-size: 4em;
  margin: 1.5rem;
}

header.masthead {

  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: url("img/bg-pattern.png");

/* background:  linear-gradient(to left, #965cae, #ef51ae);*/
}

header.masthead .header-content {
  text-align: center;
  color: white;
  max-width: 500px;
  margin-bottom: 100px;
}

header.masthead .device-container {
    height: auto;
    position: relative;
    width: 100%;
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
}

.display-2 {
  color:white;
  font-size: 50px;

}

.display-4 {
  color:lightgray;
  font-size: 30px;
  padding-bottom: 30px;
}
/*---Media Queries --*/
/*@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}*/

.display-3 {
  font-size: 40px;
}

@media (min-width: 992px) {

  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }

  header.masthead .device-container {
    max-width: 325px;
    padding-left: 0px;
    padding-right: 0px;

  }
  header.masthead .header-content {
    text-align: left;
    padding-top: 50px;
  }

  header.masthead .display-4 {
  color:lightgray;
  font-size: 46px;
  }

  header.masthead .display-2 {
  color:white;
  font-size: 70px;
  }

  .display-3 {
  font-size: 50px;
  }
}



/*---Firefox Bug Fix --*/
/*.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}*/
/*--- Fixed Background Image --*/
/*figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}*/
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

section.download {
  position: relative;
  padding: 100px;
  background: url("img/bg-pattern222.jpg");
}

section.download .badges .badge-link img {
  height: 70px;
  margin-top: 25px;
}

/*section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
  margin-top: 25px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.download .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}*/

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: black;
  border-color: #FF005D;
  background-color: #FF005D;
}

.btn {
  border-radius: 10px;
  /*font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';*/
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 14px;
  padding: 15px 45px;
}

section.contact {
  position: relative;
  padding: 100px;
}
.social a {
  font-size: 80px;
  color: black;
  margin-top: 25px;
}

.social a:hover, .social a:focus, .social a:active {
  color: #FF005D;
}

footer {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








